EyeByeDirect/WebContent/wsdl/AddCustomer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addCustomerInfo">
    <complexType>
     <sequence>
      <element name="Name" type="xsd:string"/>
      <element name="PhoneNumber" type="xsd:string"/>
      <element name="CNIC" type="xsd:string"/>
      <element name="Email" type="xsd:string"/>
      <element name="Gender" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCustomerInfoResponse">
    <complexType>
     <sequence>
      <element name="addCustomerInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addCustomerInfoRequest">

      <wsdl:part element="impl:addCustomerInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCustomerInfoResponse">

      <wsdl:part element="impl:addCustomerInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AddCustomer">

      <wsdl:operation name="addCustomerInfo">

         <wsdl:input message="impl:addCustomerInfoRequest" name="addCustomerInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCustomerInfoResponse" name="addCustomerInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AddCustomerSoapBinding" type="impl:AddCustomer">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addCustomerInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCustomerInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCustomerInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AddCustomerService">

      <wsdl:port binding="impl:AddCustomerSoapBinding" name="AddCustomer">

         <wsdlsoap:address location="http://localhost:8080/EyeByeDirect/services/AddCustomer"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
