EyeByeDirect/WebContent/wsdl/AddProduct.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addProductInfo">
    <complexType>
     <sequence>
      <element name="Name" type="xsd:string"/>
      <element name="Description" type="xsd:string"/>
      <element name="Type" type="xsd:string"/>
      <element name="CategoryID" type="xsd:int"/>
      <element name="Size" type="xsd:float"/>
      <element name="Weight" type="xsd:float"/>
      <element name="Color" type="xsd:string"/>
      <element name="StandardCost" type="xsd:int"/>
      <element name="ListPrice" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addProductInfoResponse">
    <complexType>
     <sequence>
      <element name="addProductInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addProductInfoRequest">

      <wsdl:part element="impl:addProductInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addProductInfoResponse">

      <wsdl:part element="impl:addProductInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AddProduct">

      <wsdl:operation name="addProductInfo">

         <wsdl:input message="impl:addProductInfoRequest" name="addProductInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:addProductInfoResponse" name="addProductInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AddProductSoapBinding" type="impl:AddProduct">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addProductInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addProductInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addProductInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AddProductService">

      <wsdl:port binding="impl:AddProductSoapBinding" name="AddProduct">

         <wsdlsoap:address location="http://localhost:8080/EyeByeDirect/services/AddProduct"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
