EyeByeDirect/WebContent/wsdl/DeleteProduct.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="deleteProductInfo">
    <complexType>
     <sequence>
      <element name="ProductID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteProductInfoResponse">
    <complexType>
     <sequence>
      <element name="deleteProductInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="deleteProductInfoRequest">

      <wsdl:part element="impl:deleteProductInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteProductInfoResponse">

      <wsdl:part element="impl:deleteProductInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DeleteProduct">

      <wsdl:operation name="deleteProductInfo">

         <wsdl:input message="impl:deleteProductInfoRequest" name="deleteProductInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteProductInfoResponse" name="deleteProductInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DeleteProductSoapBinding" type="impl:DeleteProduct">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deleteProductInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteProductInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteProductInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DeleteProductService">

      <wsdl:port binding="impl:DeleteProductSoapBinding" name="DeleteProduct">

         <wsdlsoap:address location="http://localhost:8080/EyeByeDirect/services/DeleteProduct"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
