EyeByeDirect/WebContent/wsdl/ReceiveOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addOrderInfo">
    <complexType>
     <sequence>
      <element name="CustomerID" type="xsd:int"/>
      <element name="Orderqty" type="xsd:int"/>
      <element name="UnitPrice" type="xsd:int"/>
      <element name="productid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addOrderInfoResponse">
    <complexType>
     <sequence>
      <element name="addOrderInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addOrderInfoRequest">

      <wsdl:part element="impl:addOrderInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addOrderInfoResponse">

      <wsdl:part element="impl:addOrderInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ReceiveOrder">

      <wsdl:operation name="addOrderInfo">

         <wsdl:input message="impl:addOrderInfoRequest" name="addOrderInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:addOrderInfoResponse" name="addOrderInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ReceiveOrderSoapBinding" type="impl:ReceiveOrder">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addOrderInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addOrderInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addOrderInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ReceiveOrderService">

      <wsdl:port binding="impl:ReceiveOrderSoapBinding" name="ReceiveOrder">

         <wsdlsoap:address location="http://localhost:8080/EyeByeDirect/services/ReceiveOrder"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
