EyeByeDirect/WebContent/wsdl/UpdateProduct.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="updateProductInfo">
    <complexType>
     <sequence>
      <element name="ProductID" type="xsd:int"/>
      <element name="Name" type="xsd:string"/>
      <element name="Description" type="xsd:string"/>
      <element name="Type" type="xsd:string"/>
      <element name="CategoryID" type="xsd:int"/>
      <element name="Size" type="xsd:float"/>
      <element name="Weight" type="xsd:float"/>
      <element name="Color" type="xsd:string"/>
      <element name="StandardCost" type="xsd:int"/>
      <element name="ListPrice" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateProductInfoResponse">
    <complexType>
     <sequence>
      <element name="updateProductInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateProductInfoResponse">

      <wsdl:part element="impl:updateProductInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateProductInfoRequest">

      <wsdl:part element="impl:updateProductInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UpdateProduct">

      <wsdl:operation name="updateProductInfo">

         <wsdl:input message="impl:updateProductInfoRequest" name="updateProductInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateProductInfoResponse" name="updateProductInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UpdateProductSoapBinding" type="impl:UpdateProduct">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="updateProductInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateProductInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateProductInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UpdateProductService">

      <wsdl:port binding="impl:UpdateProductSoapBinding" name="UpdateProduct">

         <wsdlsoap:address location="http://localhost:8080/EyeByeDirect/services/UpdateProduct"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
